Repository loganharbour/moose, changes with the owners that CODEOWNERS names for each.
All owners: @loganharbour, @milljm, @cticenhour, @lindsayad, @permcody, @GiudGiud, @rwcarlsen, @dschwen, @fdkong, @zachmprince, @bwspenc, @andrsd, @joshuahansel, @jiangwen84

Add docstring, use method in helpers
  framework/include/interfaces/MeshMetaDataInterface.h
Owners: @lindsayad

Use variadic template forwarding in restartable data declaration
  framework/doc/content/source/restart/DataIO.md
  framework/include/restart/Restartable.h
  framework/src/timesteppers/TimeSequenceStepperBase.C
  framework/src/timesteppers/TimeStepper.C
  modules/phase_field/src/userobjects/DiscreteNucleationInserter.C
  modules/phase_field/src/userobjects/DiscreteNucleationInserterBase.C
Owners: @dschwen

Make MG construction state virtual to get unit tests to pass
  framework/include/base/MooseApp.h
  unit/include/MooseUnitApp.h
Owners: none

Correct property gets
  framework/src/meshgenerators/AddMetaDataGenerator.C
  modules/reactor/src/meshgenerators/SimpleHexagonGenerator.C
  test/src/meshgenerators/TestMeshMetaData.C
Owners: none

Move declared state to RestartableDataValue
  framework/include/restart/RestartableData.h
  framework/src/base/MooseApp.C
  framework/src/restart/RestartableData.C
  framework/src/restart/RestartableDataIO.C
Owners: none

Const cleanup
  framework/include/restart/RestartableData.h
Owners: none

Add method for the name of restartable data
  framework/include/restart/Restartable.h
  framework/src/restart/Restartable.C
Owners: none

Add static helper for a mesh property name
  framework/include/interfaces/MeshMetaDataInterface.h
  framework/include/meshgenerators/MeshGenerator.h
  framework/src/interfaces/MeshMetaDataInterface.C
Owners: @lindsayad

Use interface method
  framework/include/meshgenerators/MeshGenerator.h
Owners: none

Use NavierStokesUnitApp in NS unit tests
  modules/navier_stokes/unit/include/NavierStokesUnitApp.h
  modules/navier_stokes/unit/src/NavierStokesUnitApp.C
  modules/navier_stokes/unit/src/TestFaceCenteredMapFunctor.C
  modules/navier_stokes/unit/src/TestReconstruction.C
  modules/navier_stokes/unit/src/main.C
Owners: @lindsayad, @GiudGiud

Improve mesh property interface
  framework/include/actions/ActionWarehouse.h
  framework/include/base/MooseApp.h
  framework/include/interfaces/MeshMetaDataInterface.h
  framework/include/meshgenerators/MeshGenerator.h
  framework/src/actions/ActionWarehouse.C
  framework/src/base/MooseApp.C
  framework/src/interfaces/MeshMetaDataInterface.C
Owners: @lindsayad

fixuxp! ebcd95b7095e5f745c40e6fee446f9ead0452a3d
  modules/reactor/include/meshgenerators/HexIDPatternedMeshGenerator.h
  modules/reactor/include/meshgenerators/PatternedHexMeshGenerator.h
  modules/reactor/include/meshgenerators/ReactorGeometryMeshBuilderBase.h
  modules/reactor/src/meshgenerators/AssemblyMeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
  modules/reactor/src/meshgenerators/PeripheralTriangleMeshGenerator.C
  modules/reactor/src/meshgenerators/PinMeshGenerator.C
  modules/reactor/src/meshgenerators/ReactorGeometryMeshBuilderBase.C
Owners: none

[[nodiscard]] some more things
  framework/include/interfaces/MeshMetaDataInterface.h
  framework/include/restart/RestartableData.h
  test/src/actions/MeshMetaDataDependenceAction.C
Owners: @lindsayad

WIP turn around
  framework/include/actions/CreateAddedMeshGenerators.h
  framework/include/base/MooseApp.h
  framework/include/interfaces/MeshMetaDataInterface.h
  framework/include/meshgenerators/MeshGenerator.h
  framework/src/actions/CreateAddedMeshGenerators.C
  framework/src/base/Moose.C
  framework/src/base/MooseApp.C
  framework/src/mesh/MeshGeneratorMesh.C
  framework/src/meshgenerators/MeshGenerator.C
  framework/src/meshgenerators/SideSetExtruderGenerator.C
  modules/heat_conduction/src/actions/RadiationTransferAction.C
  modules/phase_field/src/userobjects/EBSDReader.C
  modules/reactor/src/meshgenerators/AssemblyMeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
  modules/reactor/src/meshgenerators/PatternedHexPeripheralModifier.C
  test/doc/remove.yml
  test/include/actions/MeshMetaDataDependenceAction.h
  test/src/actions/AppendMeshGeneratorAction.C
  test/src/actions/MeshMetaDataDependenceAction.C
  test/src/base/MooseTestApp.C
  test/src/meshgenerators/TestMeshGeneratorErrors.C
  test/tests/meshgenerators/append_mesh_generator/append_mesh_generator.i
  test/tests/meshgenerators/append_mesh_generator/gold/append_mesh_generator_in.e
  test/tests/meshgenerators/append_mesh_generator/tests
  test/tests/meshgenerators/meta_data_store/tests
Owners: @lindsayad, @dschwen

Properly move input meshes
  framework/src/meshgenerators/FillBetweenCurvesGenerator.C
  framework/src/meshgenerators/FillBetweenSidesetsGenerator.C
  framework/src/meshgenerators/MeshCollectionGenerator.C
  framework/src/meshgenerators/XYDelaunayGenerator.C
  modules/reactor/src/meshgenerators/HexIDPatternedMeshGenerator.C
  modules/reactor/src/meshgenerators/PatternedCartesianMeshGenerator.C
  modules/reactor/src/meshgenerators/PatternedHexMeshGenerator.C
  modules/reactor/src/meshgenerators/PolygonConcentricCircleMeshGeneratorBase.C
Owners: none

Enforce that requested meshes must be released
  framework/include/meshgenerators/MeshGenerator.h
  framework/src/meshgenerators/MeshGenerator.C
Owners: none

Add Compare param to DependencyResolver, add some [[nodiscard]]
  framework/include/utils/DependencyResolver.h
Owners: none

Remove unnecessary subgenerator dependencies
  framework/src/meshgenerators/SideSetExtruderGenerator.C
  modules/reactor/include/meshgenerators/PeripheralTriangleMeshGenerator.h
  modules/reactor/src/meshgenerators/AssemblyMeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
  modules/reactor/src/meshgenerators/PeripheralTriangleMeshGenerator.C
  modules/reactor/src/meshgenerators/PinMeshGenerator.C
  test/src/meshgenerators/TestSubgenerators.C
Owners: none

Initialize MeshGenerator output storage on construction
  framework/src/base/MooseApp.C
Owners: none

Do not declare sub mesh generators dependencies by default
  framework/include/base/MooseApp.h
  framework/include/meshgenerators/MeshGenerator.h
  framework/src/meshgenerators/MeshGenerator.C
Owners: none

Add error handling at the time of getMesh...()
  framework/src/meshgenerators/MeshGenerator.C
Owners: none

Sort all MeshGenerator * by name for consistency
  framework/include/meshgenerators/MeshGenerator.h
  framework/src/base/MooseApp.C
  framework/src/meshgenerators/MeshGenerator.C
Owners: none

Add a null mesh capability to satisfy the reactor module holes
  framework/include/meshgenerators/MeshGenerator.h
  framework/src/base/MooseApp.C
  framework/src/meshgenerators/MeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
Owners: none

Add sanity check in input mesh validity before generation
  framework/src/meshgenerators/MeshGenerator.C
Owners: none

Add method for the name of restartable data
  framework/include/restart/Restartable.h
  framework/src/restart/Restartable.C
Owners: none

Make MG construction state virtual to get unit tests to pass
  framework/include/base/MooseApp.h
  unit/include/MooseUnitApp.h
Owners: none

Add docstring, use method in helpers
  framework/include/interfaces/MeshMetaDataInterface.h
Owners: @lindsayad

Const cleanup
  framework/include/restart/RestartableData.h
Owners: none

Use variadic template forwarding in restartable data declaration
  framework/doc/content/source/restart/DataIO.md
  framework/include/restart/Restartable.h
  framework/src/timesteppers/TimeSequenceStepperBase.C
  framework/src/timesteppers/TimeStepper.C
  modules/phase_field/src/userobjects/DiscreteNucleationInserter.C
  modules/phase_field/src/userobjects/DiscreteNucleationInserterBase.C
Owners: @dschwen

Move declared state to RestartableDataValue
  framework/include/restart/RestartableData.h
  framework/src/base/MooseApp.C
  framework/src/restart/RestartableData.C
  framework/src/restart/RestartableDataIO.C
Owners: none

Improve mesh property interface
  framework/include/actions/ActionWarehouse.h
  framework/include/base/MooseApp.h
  framework/include/interfaces/MeshMetaDataInterface.h
  framework/include/meshgenerators/MeshGenerator.h
  framework/src/actions/ActionWarehouse.C
  framework/src/base/MooseApp.C
  framework/src/interfaces/MeshMetaDataInterface.C
Owners: @lindsayad

Correct property gets
  framework/src/meshgenerators/AddMetaDataGenerator.C
  modules/reactor/src/meshgenerators/SimpleHexagonGenerator.C
  test/src/meshgenerators/TestMeshMetaData.C
Owners: none

Add method for checking if a mesh generator exists with the given name
  framework/include/base/MooseApp.h
  framework/src/base/MooseApp.C
Owners: none

Add static helper for a mesh property name
  framework/include/interfaces/MeshMetaDataInterface.h
  framework/include/meshgenerators/MeshGenerator.h
  framework/src/interfaces/MeshMetaDataInterface.C
Owners: @lindsayad

Use interface method
  framework/include/meshgenerators/MeshGenerator.h
Owners: none

Use NavierStokesUnitApp in NS unit tests
  modules/navier_stokes/unit/include/NavierStokesUnitApp.h
  modules/navier_stokes/unit/src/NavierStokesUnitApp.C
  modules/navier_stokes/unit/src/TestFaceCenteredMapFunctor.C
  modules/navier_stokes/unit/src/TestReconstruction.C
  modules/navier_stokes/unit/src/main.C
Owners: @lindsayad, @GiudGiud

Enforce dependency based MeshGenerator construction
  framework/include/actions/CreateAddedMeshGenerators.h
  framework/include/base/MooseApp.h
  framework/include/interfaces/MeshMetaDataInterface.h
  framework/include/meshgenerators/MeshGenerator.h
  framework/src/actions/CreateAddedMeshGenerators.C
  framework/src/base/Moose.C
  framework/src/base/MooseApp.C
  framework/src/mesh/MeshGeneratorMesh.C
  framework/src/meshgenerators/MeshGenerator.C
  framework/src/meshgenerators/SideSetExtruderGenerator.C
  modules/heat_conduction/src/actions/RadiationTransferAction.C
  modules/phase_field/src/userobjects/EBSDReader.C
  modules/reactor/src/meshgenerators/AssemblyMeshGenerator.C
  modules/reactor/src/meshgenerators/CoreMeshGenerator.C
  modules/reactor/src/meshgenerators/PatternedHexPeripheralModifier.C
  test/include/actions/MeshMetaDataDependenceAction.h
  test/src/actions/MeshMetaDataDependenceAction.C
  test/src/meshgenerators/TestMeshGeneratorErrors.C
  test/tests/meshgenerators/meta_data_store/tests
Owners: @lindsayad, @dschwen

Add Compare param to DependencyResolver, add some [[nodiscard]]
  framework/include/utils/DependencyResolver.h
Owners: none

Initialize MeshGenerator output storage on construction
  framework/src/base/MooseApp.C
Owners: none

[[nodiscard]] some more things
  framework/include/interfaces/MeshMetaDataInterface.h
  framework/include/restart/RestartableData.h
  test/src/actions/MeshMetaDataDependenceAction.C
Owners: @lindsayad

CODEOWNERS:

/conda @loganharbour @milljm @cticenhour
/docker_ci @loganharbour
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody

/.coverage @loganharbour @permcody
/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad
/package_version @milljm

/.github @permcody

/framework/*/constraints @lindsayad
/framework/*/dgkernels @lindsayad
/framework/*/executioners/*Solve* @GiudGiud
/framework/*/fv* @rwcarlsen @lindsayad
/framework/*/interfacekernels @lindsayad
/framework/*/interfaces @lindsayad
/framework/*/linesearches @lindsayad
/framework/*/loops @lindsayad
/framework/*/materials @rwcarlsen
/framework/*/materials/Derivative* @dschwen
/framework/*/materials/Parsed* @dschwen
/framework/*/nodalkernels @lindsayad
/framework/*/parser @rwcarlsen
/framework/*/preconditioners @fdkong
/framework/*/problems @lindsayad
/framework/*/problems/EigenProblem* @fdkong
/framework/*/relationshipmanagers @lindsayad
/framework/*/reporters @loganharbour @zachmprince
/framework/*/samplers @zachmprince
/framework/*/systems @lindsayad
/framework/*/systems/NonlinearEigenSystem* @fdkong
/framework/*/transfers @fdkong
/framework/*/utils/PetscSupport* @fdkong
/framework/*/utils/SlepcSupport* @fdkong
/framework/*/utils/Units* @dschwen
/framework/*/variables @rwcarlsen

/modules/contact @bwspenc @lindsayad
/modules/doc/content/newsletter @cticenhour
/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @fdkong
/modules/fluid_properties @rwcarlsen @andrsd
/modules/fsi @fdkong
/modules/functional_expansion_tools @lindsayad
/modules/navier_stokes @lindsayad @GiudGiud
/modules/phase_field @dschwen
/modules/ray_tracing @loganharbour
/modules/rdg @joshuahansel
/modules/stochastic_tools @zachmprince
/modules/tensor_mechanics @bwspenc @dschwen @jiangwen84
/modules/xfem @bwspenc @jiangwen84

/scripts/hpc_proxy.pac @loganharbour
/scripts/configure_petsc.sh @fdkong
/scripts/update_and_rebuild_petsc.sh @fdkong
/scripts/update_and_rebuild_petsc_alt.sh @fdkong
