Repository loganharbour/moose, changes with the owners that CODEOWNERS names for each.
All owners: @loganharbour, @milljm, @cticenhour, @lindsayad, @permcody, @GiudGiud, @rwcarlsen, @dschwen, @fdkong, @zachmprince, @bwspenc, @andrsd, @joshuahansel, @jiangwen84

CODEOWNERS:

/conda @loganharbour @milljm @cticenhour
/docker_ci @loganharbour
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody

/.coverage @loganharbour @permcody
/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad
/package_version @milljm

/.github @permcody

/framework/*/constraints @lindsayad
/framework/*/dgkernels @lindsayad
/framework/*/executioners/*Solve* @GiudGiud
/framework/*/fv* @rwcarlsen @lindsayad
/framework/*/interfacekernels @lindsayad
/framework/*/interfaces @lindsayad
/framework/*/linesearches @lindsayad
/framework/*/loops @lindsayad
/framework/*/materials @rwcarlsen
/framework/*/materials/Derivative* @dschwen
/framework/*/materials/Parsed* @dschwen
/framework/*/nodalkernels @lindsayad
/framework/*/parser @rwcarlsen
/framework/*/preconditioners @fdkong
/framework/*/problems @lindsayad
/framework/*/problems/EigenProblem* @fdkong
/framework/*/relationshipmanagers @lindsayad
/framework/*/reporters @loganharbour @zachmprince
/framework/*/samplers @zachmprince
/framework/*/systems @lindsayad
/framework/*/systems/NonlinearEigenSystem* @fdkong
/framework/*/transfers @fdkong
/framework/*/utils/PetscSupport* @fdkong
/framework/*/utils/SlepcSupport* @fdkong
/framework/*/utils/Units* @dschwen
/framework/*/variables @rwcarlsen

/modules/contact @bwspenc @lindsayad
/modules/doc/content/newsletter @cticenhour
/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @fdkong
/modules/fluid_properties @rwcarlsen @andrsd
/modules/fsi @fdkong
/modules/functional_expansion_tools @lindsayad
/modules/navier_stokes @lindsayad @GiudGiud
/modules/phase_field @dschwen
/modules/ray_tracing @loganharbour
/modules/rdg @joshuahansel
/modules/stochastic_tools @zachmprince
/modules/tensor_mechanics @bwspenc @dschwen @jiangwen84
/modules/xfem @bwspenc @jiangwen84

/scripts/hpc_proxy.pac @loganharbour
/scripts/configure_petsc.sh @fdkong
/scripts/update_and_rebuild_petsc.sh @fdkong
/scripts/update_and_rebuild_petsc_alt.sh @fdkong

Separate libmesh configure into another script for use in all libmesh builds (#16291)
  conda/libmesh/build.sh
  conda/libmesh/meta.yaml
  scripts/configure_libmesh.sh
  scripts/update_and_rebuild_libmesh.sh
Owners: @loganharbour, @milljm, @cticenhour

WIP
  conda/libmesh/build.sh
  scripts/configure_libmesh.sh
  scripts/update_and_rebuild_libmesh.sh
Owners: @loganharbour, @milljm, @cticenhour

Use new input parameter construction for FunctionalExpansionToolsTestApp
  modules/functional_expansion_tools/test/include/base/FunctionalExpansionToolsTestApp.h
  modules/functional_expansion_tools/test/src/base/FunctionalExpansionToolsTestApp.C
Owners: @lindsayad

Remove legacy parameter construction in module_loader
  modules/module_loader/include/ModulesApp.h
  modules/module_loader/src/ModulesApp.C
Owners: none

Remove legacy parameter construction in phase_field
  modules/phase_field/doc/content/modules/phase_field/FunctionMaterials/ExpressionBuilder.md
  modules/phase_field/include/kernels/CHBulk.h
  modules/phase_field/include/kernels/CHInterfaceBase.h
  modules/phase_field/src/ics/PolycrystalVoronoiVoidIC.C
  modules/phase_field/unit/include/EBSDMeshErrorTest.h
Owners: @dschwen

Remove legacy parameter construction in xfem
  modules/xfem/test/include/postprocessors/ParisLaw.h
  modules/xfem/test/src/postprocessors/ParisLaw.C
Owners: @bwspenc, @jiangwen84

Use new input param construction for TheWarehouse tests
  unit/include/MooseUnitApp.h
  unit/src/MooseUnitApp.C
  unit/src/TheWarehouseTests.C
Owners: none

Remove legacy parameter construction in tensor_mechanics
  modules/tensor_mechanics/include/constraints/NodalFrictionalConstraint.h
  modules/tensor_mechanics/include/constraints/NodalStickConstraint.h
  modules/tensor_mechanics/src/constraints/NodalFrictionalConstraint.C
  modules/tensor_mechanics/src/constraints/NodalStickConstraint.C
Owners: @bwspenc, @dschwen, @jiangwen84

Remove unused getADValidParams
  framework/include/base/Factory.h
  framework/src/base/Factory.C
Owners: none

Update docs with non-legacy parameter construction
  modules/doc/content/application_usage/mesh_block_type.md
  modules/doc/content/help/c++/types.md
Owners: none

Remove legacy parameter construction in tutorials
  tutorials/darcy_thermo_mech/step01_diffusion/include/base/DarcyThermoMechApp.h
  tutorials/darcy_thermo_mech/step11_action/src/base/DarcyThermoMechApp.C
Owners: none

Remove legacy parameter construction in heat_conduction
  modules/heat_conduction/include/actions/RadiationTransferAction.h
  modules/heat_conduction/include/interfacekernels/SideSetHeatTransferKernel.h
  modules/heat_conduction/include/materials/FunctionPathEllipsoidHeatSource.h
  modules/heat_conduction/include/materials/SideSetHeatTransferMaterial.h
  modules/heat_conduction/include/vectorpostprocessors/SurfaceRadiationVectorPostprocessor.h
  modules/heat_conduction/include/vectorpostprocessors/ViewfactorVectorPostprocessor.h
  modules/heat_conduction/src/actions/RadiationTransferAction.C
  modules/heat_conduction/src/base/HeatConductionApp.C
  modules/heat_conduction/src/interfacekernels/SideSetHeatTransferKernel.C
  modules/heat_conduction/src/materials/FunctionPathEllipsoidHeatSource.C
  modules/heat_conduction/src/materials/SideSetHeatTransferMaterial.C
  modules/heat_conduction/src/vectorpostprocessors/SurfaceRadiationVectorPostprocessor.C
  modules/heat_conduction/src/vectorpostprocessors/ViewfactorVectorPostprocessor.C
  modules/heat_conduction/test/include/base/HeatConductionTestApp.h
  modules/heat_conduction/test/src/base/HeatConductionTestApp.C
Owners: none

Remove legacy parameter construction in stochastic_tools
  modules/stochastic_tools/include/interfaces/SurrogateModelInterface.h
  modules/stochastic_tools/src/interfaces/SurrogateModelInterface.C
  modules/stochastic_tools/test/include/bcs/DirichletBCModifier.h
  modules/stochastic_tools/test/include/kernels/ExponentialReaction.h
  modules/stochastic_tools/test/src/bcs/DirichletBCModifier.C
  modules/stochastic_tools/test/src/kernels/ExponentialReaction.C
Owners: @zachmprince

Remove legacy parameter construction in test
  test/include/actions/AppendMeshGeneratorAction.h
  test/include/auxkernels/WindingOrder.h
  test/include/postprocessors/SetupInterfaceCount.h
  test/include/vectorpostprocessors/TestFaceInfo.h
  test/src/actions/AppendMeshGeneratorAction.C
  test/src/auxkernels/WindingOrder.C
  test/src/interfacekernels/InterfacialSource.C
  test/src/postprocessors/SetupInterfaceCount.C
  test/src/samplers/TestSampler.C
  test/src/userobjects/SamplerTester.C
  test/src/vectorpostprocessors/TestFaceInfo.C
Owners: none

Fixup parameter construction in functional_expansion_tools
  modules/functional_expansion_tools/include/userobject/FXIntegralBaseUserObject.h
  modules/functional_expansion_tools/src/userobject/FXBoundaryBaseUserObject.C
  modules/functional_expansion_tools/src/userobject/FXVolumeUserObject.C
  modules/functional_expansion_tools/src/userobject/FXntegralBaseUserObjectParameters.C
  modules/functional_expansion_tools/unit/include/Setup.h
Owners: @lindsayad

Use new input parameter construction in framework docs
  framework/doc/content/source/interfaces/Coupleable.md
  framework/doc/content/source/interfaces/SetupInterface.md
  framework/doc/content/syntax/Outputs/index.md
Owners: none

Add deprecation checking for legacy input parameter construction
  framework/doc/content/source/actions/CheckLegacyParamsAction.md
  framework/include/actions/ActionFactory.h
  framework/include/actions/CheckLegacyParamsAction.h
  framework/include/base/AppFactory.h
  framework/include/base/Factory.h
  framework/include/base/Registry.h
  framework/include/utils/InputParameters.h
  framework/include/utils/MooseTypes.h
  framework/src/actions/CheckLegacyParamsAction.C
  framework/src/base/AppFactory.C
  framework/src/base/Moose.C
  framework/src/base/Registry.C
  framework/src/constraints/FaceFaceConstraint.C
  modules/doc/content/newsletter/2021_11.md
  test/src/base/MooseTestApp.C
  test/tests/actions/check_legacy_params/check_legacy_params.i
  test/tests/actions/check_legacy_params/tests
Owners: @lindsayad, @cticenhour

REMOVE make an error for testing
  framework/src/actions/CheckLegacyParamsAction.C
Owners: none

g
  framework/src/actions/CheckLegacyParamsAction.C
Owners: none

g
  framework/include/base/Registry.h
  framework/src/actions/CheckLegacyParamsAction.C
  framework/src/base/MooseApp.C
  framework/src/base/Registry.C
  framework/src/utils/JsonSyntaxTree.C
Owners: none

g
  framework/include/base/Registry.h
  framework/src/base/Registry.C
Owners: none

g
  framework/src/base/Registry.C
Owners: none

g
  framework/src/actions/CheckLegacyParamsAction.C
  framework/src/base/Registry.C
Owners: none

g
  framework/src/actions/CheckLegacyParamsAction.C
Owners: none

g
  framework/src/actions/CheckLegacyParamsAction.C
Owners: none

g
  framework/src/actions/CheckLegacyParamsAction.C
Owners: none

Register optional properties (#18999)
  framework/include/actions/ResolveOptionalMaterialPropertiesAction.h
  framework/include/materials/Material.h
  framework/include/materials/MaterialPropertyInterface.h
  framework/include/problems/FEProblemBase.h
  framework/include/utils/IndexableProperty.h
  framework/include/utils/OptionalMaterialPropertyProxy.h
  framework/include/utils/OptionalMaterialPropertyProxyForward.h
  framework/src/actions/ResolveOptionalMaterialPropertiesAction.C
  framework/src/base/Moose.C
  framework/src/problems/FEProblemBase.C
Owners: @rwcarlsen, @lindsayad

Material local storage design (#18999)
  framework/include/materials/Material.h
  framework/include/problems/FEProblemBase.h
  framework/include/utils/IndexableProperty.h
  framework/include/utils/OptionalMaterialPropertyProxy.h
  framework/include/utils/OptionalMaterialPropertyProxyForward.h
  framework/include/warehouses/MooseObjectWarehouseBase.h
  framework/src/actions/ResolveOptionalMaterialPropertiesAction.C
  framework/src/problems/FEProblemBase.C
Owners: @rwcarlsen, @lindsayad

Add tests (#18999)
  test/include/auxkernels/OptionalTestAux.h
  test/include/materials/OptionalTestMaterial.h
  test/src/auxkernels/OptionalTestAux.C
  test/src/materials/OptionalTestMaterial.C
Owners: none

Some suggestions for optional
  framework/include/materials/Material.h
  framework/src/actions/ResolveOptionalMaterialPropertiesAction.C
  framework/src/materials/Material.C
Owners: @rwcarlsen

WIP static warehouse optional mats
  framework/include/base/StaticWarehouse.h
  framework/include/materials/Material.h
  framework/include/materials/MaterialPropertyInterface.h
  framework/src/actions/ResolveOptionalMaterialPropertiesAction.C
  framework/src/materials/Material.C
  framework/src/materials/MaterialPropertyInterface.C
Owners: @rwcarlsen

Add interface registry to app
  framework/include/base/MooseApp.h
  framework/include/interfaces/MeshChangedInterface.h
  framework/include/materials/MaterialPropertyInterface.h
  framework/include/problems/FEProblemBase.h
  framework/src/actions/ResolveOptionalMaterialPropertiesAction.C
  framework/src/interfaces/MeshChangedInterface.C
  framework/src/materials/MaterialPropertyInterface.C
  framework/src/problems/FEProblemBase.C
Owners: @lindsayad, @rwcarlsen

Max thingy
  framework/include/userobject/GavinRenameMe.h
  framework/src/userobject/GavinRenameMe.C
  test/gavin.i
Owners: none

fixes
  framework/src/userobject/GavinRenameMe.C
Owners: none

David ghosting things
  framework/include/userobject/GhostingUserObject.h
  framework/src/userobject/GhostingUserObject.C
  test/david.i
Owners: none

Remove deprecated methods in SetupInterface
  framework/include/interfaces/SetupInterface.h
  framework/include/transfers/MultiAppTransfer.h
  framework/src/interfaces/SetupInterface.C
  framework/src/transfers/MultiAppTransfer.C
Owners: @lindsayad, @fdkong

Generalize the registry used in the perf graph
  framework/include/utils/GenericRegistry.h
  framework/include/utils/PerfGraphRegistry.h
  framework/src/utils/PerfGraphRegistry.C
  test/tests/utils/perf_graph/tests
Owners: none

Use proper static init with a registry for exec flags
  framework/doc/content/source/interfaces/SetupInterface.md
  framework/include/base/Attributes.h
  framework/include/base/ExecFlagRegistry.h
  framework/src/base/Attributes.C
  framework/src/base/ExecFlagRegistry.C
  framework/src/base/Moose.C
  framework/src/base/MooseApp.C
  framework/src/executors/Executor.C
  modules/level_set/src/base/LevelSetTypes.C
  modules/xfem/src/base/XFEMAppTypes.C
  test/include/userobjects/ExecFlagRegistryTest.h
  test/src/base/MooseTestAppTypes.C
  test/src/userobjects/ExecFlagRegistryTest.C
  test/tests/base/exec_flag_registry/test.i
  test/tests/base/exec_flag_registry/tests
  test/tests/misc/execute_on/gold/execute_on_test_out.e
Owners: @bwspenc, @jiangwen84

Add method for getting reporter names for a given type
  framework/include/reporters/ReporterData.h
Owners: @loganharbour, @zachmprince

Add method for checking if a mesh generator exists with the given name
  framework/include/base/MooseApp.h
  framework/src/base/MooseApp.C
Owners: none
